

<nav class="navbar navbar-light bg-light justify-content-between">
      <a class="nav-item nav-link active"  routerLink="/articles">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link"  routerLink="/create">Create</a>
  <!-- <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
</nav>