<div *ngIf="this.id"><app-navbar></app-navbar></div>
<div class="card" style="width: 35rem;">
    <a [routerLink]="['/articles',this.article.id]"><h3 class="card-title"> {{this.article?.title}} </h3></a>
    <p class="card-text"> {{this.article?.content}} </p>
    <blockquote>Written by {{this.article?.authors}}</blockquote>
    <div class="input-group-btn">
	    <a class="btn btn-info btn-lg" [routerLink]="['/create',this.article.id]"> Modify</a>
	    <button class="btn btn-danger btn-lg" (click)="delete()">Delete</button>
    </div>
</div>